:root{
    --box-border: blue 
}
div.board>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.board{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
}
.left{
    border-left: 5px solid var(--box-border);
}
.up{
    border-top: 5px solid var(--box-border);
}