:root{
    --box-border: #0E8388;
    --light-green: #CBE4DE;
}
body{
    background-color: #2C3333;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}
div.board>div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    color: var(--light-green);
}
.wrapper{
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 97vh;*/
}
.board{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200px 200px 200px;
}
.left{
    border-left: 5px solid var(--box-border);
}
.up{
    border-top: 5px solid var(--box-border);
}
.reset, .reset:hover{
    background-color: #0E8388;
}
.reset{
    position: absolute;
    top: 3vh;
    right: 3vw;
    font-size: 20px
}
.result{
    position: absolute;
    color: var(--light-green);
    bottom: 5vh;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}